.candidate{
	text-align:center;
	margin:auto;
}

.candidate img{
	border:2px solid #000;
	background-color:#fff;
	padding:3px;
	max-width:200px;
	}
	
.candidate p{
	background-color:#ccc;
	width:200px;
	text-align:Center;
	margin:auto;
	margin-top:10px;
	border:1px dashed #000;
	padding:10px;
	}
	
.candpic{
	background-color:#49595f;
	width:240px;
	padding:10px;
	margin:auto;
}

.cand{
	float: left;
	width: 100%;
	z-index: 10;
}